*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Noto Sans KR', '맑은 고딕', 'Apple SD Gothic Neo', sans-serif;
  font-size: 18px;
  background: #F4F6FF;
  color: #12153D;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}

button {
  cursor: pointer;
  font-family: inherit;
  border: none;
  outline: none;
}
